{% extends 'base.html' %}

{% block content %}
    <div class="mdl-layout__tab-panel is-active">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text">
                    <h4>You have been successfully logout.</h4>
                </div>
            </div>
        </section>
    </div>
{% endblock %}